.planscreen_Plan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}
.planscreen_Plan:hover{
    opacity: 1;
}
.planscreen_Plan > button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}